.menuItems {
  width: 100%;
  margin-bottom: 2em;
  background-color: #FBB72D;
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;

  li {
    list-style-type: none;
  }
  
  a {
    background: #5c5656;
    border-radius: 28px;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  a:hover {
    color: #FBB72D;
    font-size: 14px;
    font-weight: bold;
  }
}